In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./Call_center_survey.csv')

df.head()

,Cust_id,Age,Account_balance,Personal_loan_ind,Home_loan_ind,Prime_Customer_ind,Overall_Satisfaction
0,CX01-001,49,23974,1,0,1,Dis Satisfied
1,CX01-002,25,72374,0,1,1,Satisfied
2,CX01-003,32,65532,0,0,1,Satisfied
3,CX01-004,70,28076,0,1,1,Dis Satisfied
4,CX01-005,23,38974,1,1,1,Satisfied

In [3]:
df.drop(columns=['Cust_id'], axis=1, inplace=True)
df.head(3)

,Age,Account_balance,Personal_loan_ind,Home_loan_ind,Prime_Customer_ind,Overall_Satisfaction
0,49,23974,1,0,1,Dis Satisfied
1,25,72374,0,1,1,Satisfied
2,32,65532,0,0,1,Satisfied

In [4]:
df.to_csv('./cleaned_call_center_survey.csv', index=False)

In [9]:
features  = df.drop(columns=['Overall_Satisfaction'])
target = df['Overall_Satisfaction']
features.shape[1]

5

In [13]:
def gini_impurity(features, target):
    """Calculate the Gini impurity for a list of classes."""
    iteratioin = features.shape[1]

    for i in range(1,iteratioin+1):
        if i == 0:
            continue
        else:
            # Calculate the Gini impurity for the current feature
            gini = 1.0 - sum((target.value_counts(normalize=True) ** 2))
            print(f"Gini impurity for feature {features.columns[i]}: {gini:.4f}")

gini_impurity(features, target)

Gini impurity for feature Account_balance: 0.4961
Gini impurity for feature Personal_loan_ind: 0.4961
Gini impurity for feature Home_loan_ind: 0.4961
Gini impurity for feature Prime_Customer_ind: 0.4961

IndexError: index 5 is out of bounds for axis 0 with size 5